<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
    <h1>List Customer</h1>
    <a href="/customers/create">Create new student</a>
    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td></td>
            <td></td>
        </tr>

        <tr th:each="customer:${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td><a th:href="@{'/customers/edit/' + ${customer.id}}">Edit</a> </td>
            <td><a th:href="@{'/customers/delete/' + ${customer.id}}">Delete</a> </td>
        </tr>

    </table>
</body>
</html>